<div class="card grey lighten-4" id="addRow">
	<div class="card-content" style="padding: 0px 24px;">
        <form action="/master/doseHistory/{{historyId}}" method="POST">
            <div id="scale" class="section scrollspy">
                <div class="row">
                    <div class="col s2">
                        <span class="card-title blue-text darken-3">Add Row</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3">
                        <div class="input-field">
                            <input id="date" class="datepicker" type="text" name="date" required>
                            <label for="date">Date</label>
                            <span class="helper-text">dd/mm/yyyy</span>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="input-field">
                                <input id="time" type="text" class="timepicker" name="time" required>
								<label for="time">Time</label>
								<span class="helper-text">hh:ss</span>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="input-field">
                            <input type="text" id="serve" name="serve" required>
                            <label class="" for="serve">Served By</label>
                        </div>
                    </div>
                    <div class="col s2">
                        <div class="input-field">
                            <button type="submit" class="waves-effect btn-small blue form-btn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
	</div>
</div>